.mySlides {
  display: none;
  animation-name: example;
  animation-duration: 4s;
}
.imgsl {
  height: auto;
  width: 100%;
  opacity: 1.0;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  animation-name: example;
  animation-duration: 4s;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  opacity: 1.0;
  animation-name: example;
  animation-duration: 4s;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1.0;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

section.newcta{
  position: relative;
  padding-bottom: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.newcta .newcta-content {
  position: absolute;
  z-index: 1;
}


